.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19rem;
    background-color: #8b889a;
    padding: 1rem;
    border-radius: 3rem;
    border: 3px solid lightgray;
}
.display {
    box-sizing: border-box;
    width: 100%;
    height: 6rem;
    padding: 0 1rem;
    background-color: #8b889a;
    border: 0;
    font-family: "PT Mono", monospace;
    font-size: 4rem;
    text-align: right;
}
.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: .3rem;
}
button {
    flex-basis: auto;
    font-size: 1.5rem;
    border: none;
    margin: 0;
    padding: 0;
    width: 4.5rem;
    height: 4.5rem;
    color: white;
    border-radius: 100%;
    border: 0;
}
.operator {
    background-color: #FC9500;
    font-size: 2rem;
}
.operator:hover {
    background-color: #ffad33;
}
.number {
    background-color: #515456;
}
.number:hover {
    background-color: #6B7175;
}